/*Joey
Chandler

Gunther
Ross

Monica
Rachel

Janice
Phoebe

Male/female

Male                  Female
longtime roomates     grew up with one of the other friends
good job/ bad job     Are you into chandler*/
.btn{
  margin: 10px 0 10px 0;
}
img {
  width: 70%;
}
#guysForm, #girlsForm, .character{
  display: none;
}
h1{
  text-align: center;
}
.jumbotron{
  background-color: #d1c936;
}
#img1{
  width: 100%;
}
.container {
  background-color: #b6b8db;
}
